extends home
block head_down
block app
    link(rel="stylesheet", href="css/about.css")
    .app
        .landing
            img(src="images/aw_se.jpg", alt="apple watch se").head_img.hl2
            .headline
                span
                    p Heavy on features
                    p.lig Light on price
                    aside
                        img(src="images/logo.svg", alt="")
                        pre WATCH
            img(src="images/aw_se.jpg", alt="apple watch se").head_img.hl1   
        .center
            .section.rs1
                .conten
                    .atit Move. Exercise. Stand. Track all the ways you're active.
                    p Activity rings show your daily activity. Make it your goal to close them every day. To keep you motivated there are awards, personalized coaching, and Activity competitions.
                img(src="images/fitness.jpg", alt="fitness")
        .main_features
            .the_feature
                .heades It has your heart in mind.
                    p Unusually high or low heart rates and irregular heart rhythms (known as arrhythmias) could be signs of a serious condition.3 But many people don't recognize the symptoms, so the underlying causes often go undiagnosed.
                .imag
                    img(src="images/heart.jpg", alt="heart beat")
            .the_feature
                .heades Wash up. Count down. Improve your sense of direction.
                    p Apple Watch automatically detects when you’re washing your hands and encourages you to go for a full 20 seconds. It can even remind you to wash them right when you get home.
                .imag
                    img(src="images/locali.jpg", alt="wash")
        .main_features
            .the_feature
                .heades Stay well-versed in your wellness.
                    p Apple Watch has apps that help you focus on your overall health and wellness by letting you easily track your menstrual cycle, protect your hearing from loud sounds, and practice mindfulness.
                .imag
                    img(src="images/opti.jpg", alt="heart beat")
            .the_feature
                .heades Wash up. Count down.
                    p With Maps, you can find driving, walking, transit, or cycling directions to wherever you’re going and get a tap on the wrist when it’s time to turn.
                .imag
                    img(src="images/wash.jpg", alt="wash")
        .end
            .end_in
                .conten
                    .atit It’s the ultimate device for a healthy life
                    p Apple Watch can do what your other devices can't because it's on your wrist. When you wear it, you get a fitness partner that measures all the ways you move, meaningful health insights, and a connection to the people and things you care about most. And it's always just a glance away.