<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="images/logo.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/home.css")
        title Apple watch
    body
        header
            .head
                .logo 
                    #menu
                        img(src="images/menu.svg", alt="")
                    span
                        a(href="/") 
                            img(src="images/logo.svg", alt="")
                #options
                    a(href="/").option Home
                    a(href="/about").option About
                    a(href="/contact").option Contact
            block head_down
                .head_down
                    img(src="images/2_aw.png", alt="")
                    span
                        p The future of health 
                        p is on your wrist.
                        aside
                            img(src="images/logo.svg", alt="").in_white.dipo
                            pre WATCH
                        div SERIES 6  
        block app
            section
                .versions
                    h2 Which Watch is right for you?
                    .version
                        .v
                            span
                                img(src="images/left_aw.png", alt="").aw_1
                            p Apple Watch Series 6
                            p.espec 40mm case size
                            p.espec Always-On Retina display
                            p.espec GPS
                            p.espec Blood Oxygen
                            p.espec heart rhythm
                            p.espec Water resistant 50 meters6
                            a(href="/about").voto More
                        .v
                            span
                                img(src="images/pink_aw.png", alt="")
                            p Apple Watch se
                            p.espec 30mm case size
                            p.espec Always-On Retina display
                            p.espec GPS
                            p.espec Blood Oxygen
                            p.espec heart rhythm
                            p.espec Water resistant 50 meters6
                            a(href="/about").voto More
                        .v
                            span
                                img(src="images/withe_aw.png", alt="").aw_3
                            p Apple Watch Series 5
                            p.espec 40mm case size
                            p.espec GPS
                            p.espec ECG app3
                            p.espec Blood Oxygen
                            p.espec heart rhythm
                            p.espec Water resistant 20 meters6
                            a(href="/about").voto More
                .about
                    h2 The most advanced Watch yet.
                    br
                    div
                        span
                            img(src="images/secure.svg", alt="")
                            p Security
                        span
                            img(src="images/conection.svg", alt="")
                            p Connectivity
                        span
                            img(src="images/power.svg", alt="")
                            p power
                    div
                        span
                            img(src="images/update.svg", alt="")
                            p Updates
                        span
                            img(src="images/health.svg", alt="")
                            p Health
                        span
                            img(src="images/fitnes.svg", alt="")
                            p Fitness
                    .learn
                        a(href="/about") Learn more
            .down_info
                div 
                    h3.titles Why Apple Watch?
                    p Apple Watch can do what your other devices can't because it's on your wrist. When you wear it, you get a fitness partner that measures all the ways you move, meaningful health insights, and a connection to the people and things you care about most. And it's always just a glance away.
        hr
        footer
                #contact
                    block contact
                        .down_nav
                            block downoptions
                                a(href="/") Home
                                a(href="/about") About
                                a(href="/contact") Contact
                    .social
                        .medias
                            a(href="https://www.linkedin.com/in/jheremy-ricardo-castro-guerrero-3a85521a0/" target='blank')
                                img(src="images/linkedin.svg", alt="linkedin")
                            a(href="https://github.com/jheremois" target='blank')
                                img(src="images/github.svg", alt="github")
                        .b_logo 
                            img(src="images/logo.svg", alt="logo")
                        .medias
                            a(href="https://www.instagram.com/shunniat" target='blank')
                                img(src="images/instagram.svg", alt="instagram")
                            a(href="https://twitter.com/jheremois" target='blank')
                                img(src="images/twitter.svg", alt="twitter")


    script(src="js/home.js")